$bg-body: #F3F4F5;
$bg-card: #E1E3E5;

$color-easy : #4CAF50; // Green
$color-medium : #FFC107; // Amber
$color-hard : #F44336; // Red

$bg-easy : #E8F5E9; // Light Green
$bg-medium : #FFF8E1; // Light Amber
$bg-hard : #FFEBEE; // Light Red